.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/ios/.generated/
example/ios/Flutter/Generated.xcconfig
example/ios/Runner/GeneratedPluginRegistrant.*

local.properties

*.1
*.lock
